.blog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.published-date {
  font-size: 20px;
  font-weight: 500;
  color: #9aa5b1;
}

.description {
  font-size: 20px;
  font-weight: 500;
  color: #9aa5b1;
}

.hr-line {
  border: 1px thin #9aa5b1;
}
